
.header-shop  {
    text-align: center;
    margin-top: 10%;
}

.header-shop h1 .text-1 {
    font-size: 10rem;
    font-weight: bold;
}

.header-shop .header-stop__content {
    font-size: 1.4rem;
    margin-top: -1rem;
    width: 40rem;
    padding-right: 5rem;
    color: var(--color-primary);
}

