@import '../abstract/_variables.css';

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    background-color: var(--bg-primary-color);
    font-family: "Cormorant Garamond", serif;
}

a {
 text-decoration: none;
 color: var(--color-primary);
}

img {
    max-width: 100%;
}

.heading__primary {
    font-size: var(--font-size-home-header);
    letter-spacing: 1.5px;
}

section {
    padding: 5rem 0;
}

/* .bg-cutter-img {
    text-align: center;
    margin-left: 5%;
    position: relative;
    transform: translateY(-70%);    
    display: flex;
    justify-content: center;
    align-items: center;
} */