/* .menu__wp {
    min-height: 100vh;
} */

.menu__wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-primary-color);
    background-image: url(/assets/images/bg_secondary.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-blend-mode: multiply;
}

.menu__wallpaper .menu__content-wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    gap: 0.7rem;
}

.wallpaper-img {
    height: 15rem !important;
    width: 15rem !important;
}

.extra__wp {
    padding: 2rem 0;
}